 @font-face
   font-family 'GraphikLCG'
   font-style normal
   src url(../fonts/subset-GraphikLCG-Regular.woff)
   
 @font-face
   font-family 'William'
   font-style normal
   src url(../fonts/William.woff)